<%= page_header t('.header', website: @website.url) %>

<table id='website-checks' class='table table-condensed'>
  <col span='1' class='col-md-10 col-lg-10'/>
  <col span='1' class='col-md-2 col-lg-2'/>

  <thead>
    <th> <%= t '.created_at' %> </th>
    <th> <%= t '.response_code' %> </th>
  </thead>

  <tbody>
    <% @website.checks.each do |check| %>
      <tr>
        <td> <%= l check.created_at, :format => :website_check %> </td>
        <td> <%= check.response_code %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
