<!DOCTYPE html>
<html>
<head>
  <title>Kama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id='<%= controller_name.dasherize %>' data-action='<%= action_name.dasherize %>'>

<%= render 'header' %>

<%= yield %>

</body>
</html>
